<div class="app-body">
        <main class="main d-flex align-items-center">
          <div class="container">
            <div class="row">
              <div class="col-md-6 mx-auto">
                <div class="card mx-4">
                  <div class="card-body p-4">
                        <form (ngSubmit)="loginPost($event)" [formGroup]="loginForm">
                      <h1>Login</h1>
                      <div class="input-group mb-3">
                        <input type="text" class="form-control col" name="username" formControlName="username"  placeholder="Username">
            <div *ngIf="formErrors.username" class="alert alert-danger">{{formErrors.username}}</div>

                        
                      </div>

                      <div class="input-group mb-3">
                            <input type="password" class="form-control col" name="password" formControlName="password" placeholder="Password">
                            <div *ngIf="formErrors.password" class="alert alert-danger">{{formErrors.password}}</div>
    
                            
                          </div>


                     
                     
                      <button  class="btn btn-block btn-success"  [disabled]="!loginForm.valid">Login</button>
                    </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>